.post-container {
    width: 100vw;
    height: 30vh;
    box-shadow: 10px 10px 47px -6px rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    margin-top: 10%;

}

.post-container div {
    display: flex;
}

.post-image-container img {
    width: 100px;
    height: 100px;
}

.post-text-container {
    text-align: right;
}
.content-container {
  width: 100vw;
  display: grid;
  margin-top: 5vh;
}