.info-button {
    font-weight: bold;
    margin-top: 700px;
    outline: none;
    border: 1px;
    position: sticky;
    margin: 0 auto;
    width: 15vw;
    height: 50px;
    background-color: coral;
    box-shadow: 10px 10px 82px -5px rgba(0,0,0,0.25);

}